.drawer {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 2;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;


  p {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
  }

  .drawerTop {

    img {
      cursor: pointer;
    }

    margin: 30px 25px;
    display: flex;
    justify-content: space-between;
  }

  .cartItems {
    overflow: auto;
    margin-bottom: 40px;
  }

}

.cartItems {
  flex: 1;


  .item {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 25px 20px 25px;

    .cartInfo {
      margin: 25px 20px 8px;
    }

    p {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      margin: 0 0 8px 0;
    }

    button {
      background: none;
      padding: 0;
      border: none;
      cursor: pointer;
      width: 32px;
      height: 32px;
      opacity: 0.5;
      transition: 0.15s ease-in-out;

      &:hover {
        opacity: 1;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

.totalBlock {
  margin: 0 25px 25px 25px;

  p {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }


  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    div {
      border-bottom: 1px dashed #DFDFDF;
      height: 1px;
      flex: 1;
      position: relative;
      top: 5px;
      margin: 0 5px;
    }
  }

  .greenBtn {

    background: #9DD558;
    border-radius: 18px;
    border: none;
    color: #FFFFFF;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    transition: background 0.15s ease-in-out;
    position: relative;

    img {
      position: absolute;
      top: 17px;
      right: 50px;
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      background: lighten(#9dd558, 5%);

      img {
        transform: translateX(5px);
      }
    }

    &:active {
      background: darken(#9dd558, 5%);
    }
  }
}

.greenBtn {
  max-width: 245px;
  background: #9DD558;
  border-radius: 18px;
  border: none;
  color: #FFFFFF;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  transition: background 0.15s ease-in-out;
  position: relative;

  img {
    position: absolute;
    top: 17px;
    right: 25px;
    transition: transform 0.2s ease-in-out;
  }

}


.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  margin: 50px;
  text-align: center;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.4;
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
  }

  button {
    margin-top: 40px;
  }

  .greenBtn {


    img {
      position: absolute;
      top: 17px;
      left: 25px;
      transition: transform 0.2s ease-in-out;
      transform: rotate(180deg);


    }

    &:hover {
      background: lighten(#9dd558, 5%);

      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    &:active {
      background: darken(#9dd558, 5%);
    }
  }

}
