
ul li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

body {
  background: #E7F6FF;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  overflow: hidden
}

header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #EAEAEA;;
}

.leftSide {
  display: flex;

  ul {
    margin: 0;
    padding-left: 16px;
  }
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 30px;

  .cart {
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
    }
  }
}

.content {
  padding: 60px;
}

.card {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 40px;
  max-width: 210px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  margin: 20px;

  p {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  transition: 0.15s ease-in-out;

  &:hover {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: 0.15s ease-in-out;
  }
}

.snkInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
    padding: 0;
  }

  button {
    background: #FFFFFF;
    border: 1px solid #cbc8c8;
    box-sizing: border-box;
    border-radius: 8px;
    color: #D3D3D3;
    width: 32px;
    height: 32px;
  }
}

.price {
  p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #BDBDBD;
  }
}

.sneakers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.contentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-bottom: 20px;
  }
}

.searchBlock {
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  align-items: center;

  input {
    border: none;
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #adadad;
    padding: 0;
  }

  img {
    margin-right: 14px;
  }
}

.inactiveBtn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}


.drawer {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 2;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  p {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 30px 25px;
  }

}

.cartItems {
  flex: 1;

  .item {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 25px;

    .cartInfo {
      margin: 25px 20px 8px;
    }

    p {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      margin: 0 0 8px 0;
    }

    button {
      background: none;
      padding: 0;
      border: none;
      cursor: pointer;
      width: 32px;
      height: 32px;
      opacity: 0.5;
      transition: 0.15s ease-in-out;

      &:hover {
        opacity: 1;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

.totalBlock {
  margin: 0 25px 25px 25px;

  p {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }


  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    div {
      border-bottom: 1px dashed #DFDFDF;
      height: 1px;
      flex: 1;
      position: relative;
      top: 5px;
      margin: 0 5px;
    }
  }

  .greenBtn {

    background: #9DD558;
    border-radius: 18px;
    border: none;
    color: #FFFFFF;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    transition: background 0.15s ease-in-out;
    position: relative;

    img {
      position: absolute;
      top: 17px;
      right: 50px;
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      background: lighten(#9dd558, 5%);

      img {
        transform: translateX(5px);
      }
    }

    &:active {
      background: darken(#9dd558, 5%);
    }
  }
}